{%- if settings.native_reviews_enabled -%}
  {%- assign forestry_review_count = product.metafields.forestry_reviews.review_count.value | default: 0 | plus: 0 -%}
  {%- assign forestry_review_average = product.metafields.forestry_reviews.average_rating.value | default: 0 | plus: 0 -%}
  {%- assign forestry_rating_steps = forestry_review_average | times: 2 | round -%}
  <div
    class="ForestryProductReviewRating"
    data-forestry-product-review-rating
    data-forestry-product-review-key="{{ product.id }}"
    data-product-id="{{ product.id }}"
    data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
    data-product-handle="{{ product.handle | escape }}"
    data-product-title="{{ product.title | escape }}"
    data-product-url="{{ shop.url }}/products/{{ product.handle | escape }}"
    data-customer-email="{{ customer.email | escape }}"
    data-customer-phone="{{ customer.phone | escape }}"
    data-shopify-customer-id="{{ customer.id }}"
    data-customer-first-name="{{ customer.first_name | escape }}"
    data-customer-last-name="{{ customer.last_name | escape }}"
    data-review-modal-size="{{ settings.review_drawer_modal_size | default: 'medium' }}"
    data-login-url="{{ routes.account_login_url }}"
    data-endpoint-product-review-status="/apps/forestry/product-reviews/status"
    aria-busy="false"
  >
    <div class="rating" aria-hidden="true">
      <div class="rating__stars">
        {%- for forestry_star_index in (1..5) -%}
          {%- assign forestry_star_step = forestry_star_index | times: 2 -%}
          {%- assign forestry_star_half_step = forestry_star_step | minus: 1 -%}
          {%- if forestry_rating_steps >= forestry_star_step -%}
            {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
          {%- elsif forestry_rating_steps == forestry_star_half_step -%}
            {%- render 'icon' with 'rating-star-half', class: 'rating__star rating__star--half' -%}
          {%- else -%}
            {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
          {%- endif -%}
        {%- endfor -%}
      </div>

      <span class="rating__caption">{{ 'product.general.reviews_count' | t: count: forestry_review_count }}</span>
    </div>
  </div>
{%- endif -%}
