{% capture wlmPnfContent %}
		<div class="page-width">
		<div class="grid">
		  <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
			<div class="section-header text-center">
			  <h2><span class="wlm-title-pnf">{{ wlmPnfHead }}</span></h2>
			</div>

			<div class="rte">
			  <div class="wlm-message-pnf">{{ wlmPnfMsg }}</div>
			</div>
		  </div>
		</div>
	  </div>
	  {% endcapture %}
    {%- assign forestry_request_path = request.path | default: '' | downcase -%}
    {%- assign forestry_wholesale_destination_key = '' -%}
    {%- if forestry_request_path == '/apps/shop' or forestry_request_path contains '/apps/shop/' -%}
      {%- assign forestry_wholesale_destination_key = 'line_sheet' -%}
    {%- elsif forestry_request_path == '/pages/wholesaleportal' or forestry_request_path == '/pages/wholesale-portal' -%}
      {%- assign forestry_wholesale_destination_key = 'line_sheet' -%}
    {%- endif -%}

    {% if forestry_wholesale_destination_key != blank %}
      {% render 'forestry-wholesale-moved',
        destination_key: forestry_wholesale_destination_key,
        headline: 'Wholesale ordering moved',
        body_copy: 'Wholesale ordering now lives on our dedicated wholesale store.'
      %}
	  {% elsif wlmLockON %}
		<div id="wlmpnf">{{ wlmPnfContent }}</div>
	  {% else %}
		<wlm class="wlm-content">
		  {{ content_for_layout }}
		</wlm>
		<div id="wlmpnf" style="display:none;">{{ wlmPnfContent }}</div>
        {% include "wlm-pwd-form" %}
        <script type="text/javascript" id="wlm-helper">
        if( typeof wlm == "object" ) wlm.toggleContent(true);
      </script>
      {% endif %}
